.box1{
    /* border: 1px solid red; */
    width: 70%;
    height: auto;
    margin-left: 27%;
    margin-bottom: 30px;
    font-weight: bold;
    color: grey;
}
.box2{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 20% 90% ;
    grid-template-rows: auto;
    gap: 20px;
}
.box2 div{
    /* border: 1px solid black; */

}
.box4{
    /* border: 1px soild red; */
    width: 90%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,550px);
    gap: 10px;
}
.box4>div{
    /* border: 1px solid blue; */
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}
.box4>div>img{
    width: 50%;
}
.box4>div h2{
    margin-top: 0px;
    color: grey;
}
.box4>div p{
    margin-top: -20px;
}
.box4>div button{
    padding: 4px 20px;
    border-color: transparent;

}
.box4>div button:hover{
    color: white;
    background-color: black;
}
.box3{
    /* border: 1px solid red; */
    width: 100%;
    height: 50px;
}
.box3>h2{
    font-size: 14px;
    color: grey;
}
.category{
    /* border: 1px solid red; */
    width: 90%;
    margin: auto;
    display: grid;
    margin-top: 50px;
    grid-template-columns: 100%;
    grid-template-rows: repeat(3,300px);
    gap: 20px;
}
.category div{
    /* border: 1px solid black; */
    width: 100%;
    font-size: 14px;
    color: grey;
    margin-left: 20px;
    cursor: pointer;
}
.end{
    /* border: 1px solid red; */
    width: 30%;
    margin-left: 45%;
    margin-top: 40px;
    display: flex;
    text-align: center;
    color: black;
    font-size: 14px;
    font-weight: bold;

}
.end button{
   margin-left: 20px;
   padding: 5px 20px;
   font-weight: bold;
   cursor: pointer;
   background-color: black;
   color: white;
}
.summer-box{
    position: relative;
    width: 100%;
}
.summmer{
    /* border: 1px solid red; */
    width: 100%;
    height: 40px;
    background-color: black;
}
.summmer>img{
    width: 20px;
    margin-left: 32%;
    margin-top: 10px;
}
.summmer>h2{
    text-align: center;
    color: white;
    margin-top: -25px;
    font-size: 17px;
}

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: sans-serif;
} */
.menu-bar{
    /* border: 1px solid red; */
    width: 60%;
    text-align: center;
    margin-left: 0%;
    font-size: 14px;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menu-bar ul li{
    width: 100px;
    margin: 6px;
    padding: 3px;
    
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;

}
.active,.menu-bar ul li a{
    /* background: #FFFFFF; */
    border-radius: 3px;
}
.menu1{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 30px;
}
.menu1 img{
    width: 10%;
    margin-top: -27px;
}
.menu2{
    /* border: 1px solid red; */
    width: 20%;
    margin-top: -40px;
    
    margin-left:80%;
}
.menu2 ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menu2 ul li{
    width: 100px;
    margin: 6px;
    padding: 3px;
    
}
.menu2 ul li a{
    text-decoration: none;
    color: black;

}
.active1,.menu-bar ul li a{
    /* background: #FFFFFF; */
    border-radius: 3px;
    /* border: 1px solid black; */
    width: 30%;
}
.active1>img{
    width: 100%;
}
.username{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-template-rows: 50px;
    margin-left: 330px;
    margin-top: 15px;
    gap: 10px;
    text-align: center;
}
.username div{
    /* border: 1px solid red; */
}
.username img{
    width: 50%;
}
.menubar1{
    border: 1px solid grey;
    width: fit-content;
    border-left: none;
    border-right: none;
    display: none;

}
.menu-bar ul li:hover .menubar1{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -7px;

}
.menu-bar ul li:hover .menubar1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    /* background: red; */
    text-underline-offset: 1px ;
    border-radius: 0;
    text-align: left;

}
.menubar2{
    border: 1px solid grey;
    width: fit-content;
    border-left: none;
    border-right: none;
    display: none;

}
.menu-bar ul li:hover .menubar2{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -7px;

}
.menu-bar ul li:hover .menubar2 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    /* background: red; */
    text-underline-offset: 1px ;
    border-radius: 0;
    text-align: left;

}
.menubar3{
    border: 1px solid grey;
    width: fit-content;
    border-left: none;
    border-right: none;
    display: none;

}
.menu-bar ul li:hover .menubar3{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -7px;

}
.menu-bar ul li:hover .menubar3 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    /* background: red; */
    text-underline-offset: 1px ;
    border-radius: 0;
    text-align: left;

}


hr{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}
.foot{
    /* border: 1px solid red; */
    width: 80%;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 280px;
    gap: 40px;
    cursor: pointer;
}
.foot div{
    /* border: 1px solid black; */
    margin-left: 7px;
    margin-top: 9px;
    color: grey;
}
.last button{
    margin-left: 20px;
    margin-top: 30px;
    padding: 10px 90px;
    color: black;
    border-color: black;
    background-color: white;
}
.last button:hover{
    background-color: grey;
    cursor: pointer;
}
.patent{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    display: grid;
    
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 40px;
    gap: 30px;
}
.patent div{
    /* border: 1px solid red; */
    display: flex;
    
}
.patent div>img{
    width: 5%;
    
}
.social{
    display: grid;
    justify-content: flex-end;
}