.cont1{
    /* border: 1px solid red; */
    width: 80%;
    height: auto;
    margin: auto;
}
.cont2{
    /* border: 1px solid red; */
    width: 68%;
    height: auto;
    margin: auto;
}
.cont2 h2{
    text-align: center;
}
.cont2 p{
    text-align: center;
    font-family:sans-serif ;
    color: grey;
    line-height: 30px;
}
hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
/* h2{
    text-align: center;
    margin: auto;
} */
.cont3{
    /* border: 1px solid red; */
    width: 75%;
    margin: auto;
    /* height: auto; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(9,250px);
    gap: 20px;
    margin-top: 60px;
}
.cont3 div{
    /* border: 1px solid black; */
    /* margin-top: 60px; */
}
.cont3 div>img{
    width: 100%;
    height: 100%;
}
.cont4{
    /* border: 1px solid red; */
    width: 60%;
    margin-left: 150px;
    /* height: auto; */
    display: grid;
    grid-template-columns: repeat(4,300px);
    grid-template-rows: repeat(5,200px);
    gap: 20px;
    margin-top: 60px;
    
}
.cont4 div{
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.cont4 div>img{
    width: 80%;
    height: 80%;
    /* display: grid; */
    /* justify-content: center; */
    /* align-content: center; */
    margin-left: 20px;
    margin-top: 20px;
}
.cont50{
    /* border: 1px soild red; */
    width: 70%;
    margin: auto;
    height: 600px;
    background-color: #F5F5F5;
    text-align: center;
    font-family: sans-serif;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */

    
}
.cont50 p{
    text-align: center;
    margin-top: 10px;
}
.cont50 p:nth-child(1){
    margin-top: 60px;
}
.cont51{
 border: 1px solid black;
 margin-top: 50px;
 border-color: transparent;
}
.cont5{
    /* border: 1px solid red; */
    width: 60%;
    margin-left: 120px;
    /* height: auto; */
    display: grid;
    grid-template-columns: repeat(2,400px);
    grid-template-rows: 200px 200px;
    gap: 20px;
    margin-top: 60px;
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}
.cont5 div{
    /* border: 1px solid red; */
    /* box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px; */
}
.cont15{
    /* border: 1px solid red; */
    width: 100%;
    display: grid;
    grid-template-columns: 100px 290px;
    grid-template-rows: 200px;
    gap: 10px;
}
.cont15 div{
    /* border: 1px solid black; */
}
.cont15 div img{
    margin-top: 70px;
}
.cont15 div p{
    color: grey;
}
.cont51 p{
    font-size: 18px;
    font-weight: bold;
}.foot{
    /* border: 1px solid red; */
    width: 80%;
    height: 300px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 280px;
    gap: 40px;
    cursor: pointer;
}
.foot div{
    /* border: 1px solid black; */
    margin-left: 7px;
    margin-top: 9px;
    color: grey;
}
.last button{
    margin-left: 20px;
    margin-top: 30px;
    padding: 10px 90px;
    color: black;
    border-color: black;
    background-color: white;
}
.last button:hover{
    background-color: grey;
    cursor: pointer;
}
.patent{
    /* border: 1px solid black; */
    width: 80%;
    margin: auto;
    display: grid;
    
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 40px;
    gap: 30px;
}
.patent div{
    /* border: 1px solid red; */
    display: flex;
    
}
.patent div>img{
    width: 5%;
    
}
.social{
    display: grid;
    justify-content: flex-end;
}
hr{
    width: 80%;
    margin-top: 30px;
    margin-bottom: 30px;
}
/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    
    font-family: sans-serif;
} */
.menu-bar{
    /* border: 1px solid red; */
    width: 60%;
    text-align: center;
    margin-left: 0%;
    font-size: 14px;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menu-bar ul li{
    width: 100px;
    margin: 6px;
    padding: 3px;
    
}
.menu-bar ul li a{
    text-decoration: none;
    color: black;

}
.active,.menu-bar ul li a{
    /* background: #FFFFFF; */
    border-radius: 3px;
}
.menu1{
    /* border: 1px solid red; */
    width: 80%;
    margin: auto;
    display: flex;
    margin-top: 30px;
}
.menu1 img{
    width: 10%;
    margin-top: -27px;
}
.menu2{
    /* border: 1px solid red; */
    width: 20%;
    margin-top: -40px;
    
    margin-left:80%;
}
.menu2 ul{
    display: inline-flex;
    list-style: none;
    color: black;
}
.menu2 ul li{
    width: 100px;
    margin: 6px;
    padding: 3px;
    
}
.menu2 ul li a{
    text-decoration: none;
    color: black;

}
.active1,.menu-bar ul li a{
    /* background: #FFFFFF; */
    border-radius: 3px;
    /* border: 1px solid black; */
    width: 30%;
}
.active1>img{
    width: 100%;
}
.username{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(4,60px);
    grid-template-rows: 50px;
    margin-left: 330px;
    margin-top: 15px;
    gap: 10px;
    text-align: center;
}
.username div{
    /* border: 1px solid red; */
}
.username img{
    width: 50%;
}
.menubar1{
    border: 1px solid grey;
    width: fit-content;
    border-left: none;
    border-right: none;
    display: none;

}
.menu-bar ul li:hover .menubar1{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -7px;

}
.menu-bar ul li:hover .menubar1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    /* background: red; */
    text-underline-offset: 1px ;
    border-radius: 0;
    text-align: left;

}
.menubar2{
    border: 1px solid grey;
    width: fit-content;
    border-left: none;
    border-right: none;
    display: none;

}
.menu-bar ul li:hover .menubar2{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -7px;

}
.menu-bar ul li:hover .menubar2 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    /* background: red; */
    text-underline-offset: 1px ;
    border-radius: 0;
    text-align: left;

}
.menubar3{
    border: 1px solid grey;
    width: fit-content;
    border-left: none;
    border-right: none;
    display: none;

}
.menu-bar ul li:hover .menubar3{
    display: block;
    position: absolute;
    margin-top: 15px;
    margin-left: -7px;

}
.menu-bar ul li:hover .menubar3 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1px dotted #fff;
    /* background: red; */
    text-underline-offset: 1px ;
    border-radius: 0;
    text-align: left;

}


.summer-box{
    position: relative;
    width: 100%;
}
.summmer{
    /* border: 1px solid red; */
    width: 100%;
    height: 40px;
    background-color: black;
}
.summmer>img{
    width: 20px;
    margin-left: 32%;
    margin-top: 10px;
}
.summmer>h2{
    text-align: center;
    color: white;
    margin-top: -25px;
    font-size: 17px;
}
